body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}


.contenedor-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4f4f4;
}

.publicidad {
    flex: 1 1 150px;
    background-color: #e0e0e0;
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 120px;
}

.publicidad img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.publicidad p {
    font-weight: bold;
    color: #2c3e50;
    margin: 5px 0 0 0;
}


.contenido-evento {
    flex: 3 1 600px;
    background-color: #ffffff;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}


.banner h1 {
    font-size: 2.5em;
    color: #1e3c72;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.menu {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #1e3c72;
}

.menu a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 25px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin-bottom: 5px;
}

.menu a:hover {
    background-color: #3498db;
    color: white;
}


.titulo-evento h2 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 5px;


}

.tachado {
    text-decoration: line-through;
    color: #1e3c72;
}


.titulo-evento h2:last-of-type {
    font-size: 1.8em;
    color: #e67e22;
    margin-top: 0;
    font-style: italic;
}

.imagen-evento {
    text-align: center;
    margin: 25px 0;
}

.imagen-evento img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
}


.texto-evento {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #1e3c72;
    margin-top: 20px;

}


@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }

    .publicidad {
        flex-basis: auto;
        width: auto;
        order: 2;
    }

    .contenido-evento {
        order: 1;
    }

    .imagen-evento img {
        width: 100%;
        height: auto;
    }

}